/* SLIMBOX */#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}
#lbCenter {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: white;
}
#lbBottom {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: black;
}
.lbLoading {
	background: #fff url(/satellite/css/loading.gif) no-repeat center;
}
#lbImage {
	border: 1px solid #fff;
}
#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}
#lbPrevLink {
	left: 0;
}
#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0% 15%;
}
#lbNextLink {
	right: 0;
}
#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}
#lbBottom {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #white;
	line-height: 1.4em;
	text-align: left;
	border: 1px solid #000;
	border-top-style: none;
}
#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
}
#lbCaption {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 71px;
}
#lbNumber {
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 71px;
}
#lbCaption {
	font-weight: bold;
}
