/*{border: 1px solid red;}*/
.title_logo{
	font-family: Eurostile;
	font-size:72px;
	font-weight:bold;
	box-shadow:0 0 30px black;
	background:rgba(0,0,0,0.5);
	margin-top:-175px;
	position:relative;
	z-index:100;
	white-space:nowrap;
	overflow:hidden
	text-align:center;

}

html {
	overflow-y:scroll;
	height:100%;
}

body {
	margin:0px;
	padding: 0px;
	color:white;
	background: url(images/bg.jpg) fixed no-repeat !important;
	height:100%;
}

.wrapper {
	min-height:100%;
	height:auto!important;
	height:100%;
	margin:0 0 -175px;
}

p {
	margin:0;
	padding:0;
	font-weight:normal;
}

a, a:visited, a:hover {
	color:#CFF;
}


a:hover.nav_links {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FF0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color:yellow;
}

a:hover#current {
	cursor: default;
}

a#current {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FF0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color:yellow;
}
.header {
	background: url(images/header_bg.png) repeat-x;
	/*height:175px; REMOVE THIS 9/28*/
}

.logo {
	width:950px;
	margin:0px auto;
	padding-top:10px;
}

/*.nav_bar {
	background: url(images/nav_bg.png) repeat-x;
	margin-top:-25px;
	height:80px;
}

.menu {
	width:950px;
	margin:0px auto;
	padding-top:30px;
}

/*.table{
	display:table;
	margin: 0 auto;
}


ul {
	margin:0px;
	padding:0px;
}

#menu li a{
	background: url(images/sprites.png) no-repeat;
}

.menu li {
	list-style:none;
	float:left;
	font-family: 'Amaranth', Arial, sans-serif;
	font-size: 24px;
	font-weight:bold;
}*/

a.nav_links {height: 25px;} /*Height needs to match height of the navigation sprite*/
	ul#menu{margin:0; padding:0; list-style:none; clear:both;padding-top:30px;}
		#menu li{overflow:hidden; text-indent:-9999px; display:inline; float:left; margin-right:30px;}
			#menu li a{background:url('images/sprites.png') no-repeat; display:block;}

			/* About Button */
			#menu li.about{width:85px; height:25px;}
				#menu li.about a{background-position:-15px 0px;}
				#menu li.about a:hover{background-position:-15px -30px;}
				#menu li.about a#current{background-position:-15px -60px;}

			/* News Button */
			#menu li.news{width:70px; height:25px;}
				#menu li.news a{background-position:-130px 0px;}
				#menu li.news a:hover{background-position:-130px -30px;}
				#menu li.news a#current{background-position:-130px -60px;}
				
			/* Resources Button */
			#menu li.resources{width:130px; height:25px;}
				#menu li.resources a{background-position:-235px 0px;}
				#menu li.resources a:hover{background-position:-235px -30px;}
				#menu li.resources a#current{background-position:-235px -60px;}
				
			/* Photos Button */
			#menu li.photo{width:95px; height:25px;}
				#menu li.photo a{background-position:-395px 0px;}
				#menu li.photo a:hover{background-position:-395px -30px;}
				#menu li.photo a#current{background-position:-395px -60px;}				
				
			/* Sponsors Button */
			#menu li.sponsors{width:125px; height:25px;}
				#menu li.sponsors a{background-position:-520px 0px;}
				#menu li.sponsors a:hover{background-position:-520px -30px;}
				#menu li.sponsors a#current{background-position:-520px -60px;}
				
			/* Contact Button */
			#menu li.contact{width:110px; height:25px;}
				#menu li.contact a{background-position:-675px 0px;}
				#menu li.contact a:hover{background-position:-675px -30px;}
				#menu li.contact a#current{background-position:-675px -60px;}
				
								.table{
	display:table;
	margin: 0 auto;
}
	
	.nav_bar{
	background: url(images/nav_bg.png);
	height:85px;
	width:auto;
	margin-top:-30px;
}

a.nav_links{
	text-transform:uppercase;
	text-decoration:none;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#999999));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color:#FFF;
}

.main {
	clear:both;
	margin:0 auto;
	width:950px;
	padding-top: 10px;
	margin-bottom:20px;
}

.main#index { 
	height:600px;
}

.index_main_title {
	font-family: 'Aldrich', Arial, sans-serif;
	font-size: 50px;
	color: yellow;
	font-weight: bold;
/*Use these settings before animation*/
	position: absolute;

	left: 50%;
	margin-left: -372px;
	margin-top: 200px;
}

.index_main_title div{
	display:inline;
}

div#top {
	display:inline;
/*Use these settings for animation
	position:absolute;
	left:50%;
	margin-left:-37.5px;
	margin-top:-20px;
	font-size: 24px;*/
}

#bottom {
/* Use these settings for animation
	position:absolute;
	top:780px;
	white-space:nowrap;
	left: 50%;
	margin-left:-294.5px;*/
}

.index_cont {
	display:none;
	position:absolute;
	left: 50%;
}

#bridge11 {
	display:block;
	margin:160px -286px;
	box-shadow: 0px 0px 30px black;
}

#fearthebeard {
	display:block;
	margin:-10px -340px;
	padding:0;
}

#main_title{
	font-size:48px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:yellow;
	font-weight:bold;
}

#main_tagline {
	font-size:24px;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	font-style: italic;
	margin-bottom: 40px;
}

.emp {
	display: inline;
	color: #0072bc;
	text-transform:uppercase;
	font-size: 20px;
	font-weight:bold;
}

/*#color1 {
	color: #FC0;
}

#color2 { 
	color: #3F9;
}

#color3 {
	color:#0072bc;
}*/

.cont{
	background:rgba( 0, 0, 0, 0.6) !important;
	background-color:black;
	padding: 10px;
	border-radius:5px;
	float:left;
	margin-right:10px;
	margin-bottom: 40px;
/*    width:1px;
	display:table;*/
}

.sponsors_cont {
	background-color:white;
	padding:10px;
	border-radius:5px;
	margin-right:10px;
	margin-bottom: 40px;
	display:block;
}

.sponsors_cont img {
	display: inline-table;
	vertical-align:middle;
	margin:10px;
}

.sub_cont#sponsors{
	text-align:center;
}

.cont li {
	list-style-position: inside;
}

.cont#extend {
	color:#FFFF4A;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
	margin-bottom:10px;
	width:940px;
	padding-right:0;
}

.email {
	font-size: 16px;
	font-weight:bold;
	display:inline-block;
}

.cont_left{
	background-color: #373737;
	padding: 10px;
	border-radius:5px;
	float:left;
	margin-left: 20px;
	margin-bottom: 40px;
	width:400px;
	box-shadow: 0 0 30px black;
}

.cont_right{
	background-color:#373737;
	padding: 10px;
	border-radius:5px;
	float:right;
	margin-right:20px;
	margin-bottom:40px;
	width:400px;
	box-shadow: 0 0 30px black;
}

.sub_title, .position_header, .position {
	color:#FFFF4A;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
	margin-bottom:10px;
	margin-right:40px;
	white-space:nowrap;
}

.position_header{
	margin-right:0px;
}

.position{
	float:left;
}

.sub_cont{
	color:white;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:20px;
}

.contact_cont {
}

.sub_tagline, .position_tagline {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	margin-top:-5px;
}

.position_tagline {
	clear:both;
}

.profile{
	float:left;
	margin-right:20px;
	display:block;
}

.contact_sub_cont {
	float:left;
	color:white;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:20px;
	font-weight:normal;
}

/*For jQuery*/
.officers {
	display:none;
	margin-top:20px;
}

#contact_Meet {
	float:left;
	margin-bottom:10px;
}

.showhide_gen, .showhide_individual {
	float:right;
	font-size:12px;
	margin-top:8px; /*Font-size and margin-top should add up to 20px*/
	cursor:pointer;
}

#show{
	cursor:pointer;
}

#hide{
	display:none;
	cursor:pointer;
}

#showhide_PM, #showhide_assistantPM, #showhide_designteam, #showhide_solidworks, #showhide_davisshop, #showhide_etch, #showhide_budget, #showhide_graphics {
	display:inline;
	cursor:pointer;
}
/* */

.break {
	clear:both;
	height:20px;
}

.buffer {
	clear:both;
	height:175px;
}

.footer {
	font-size:12px;
	text-align:center;
	background: url(images/footer_bg.png) repeat;
	font-family: Segoe UI, Arial, sans-serif;
	vertical align: bottom;
	height:175px;
	color:#999;
}

.footer_sec {
	float:left;
	padding: 10px 25px 0px 25px;
}

.footer_title{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	text-align:left;
}

.footer_cont ul{
	padding:10px 0 10px 0px;
	margin:0;
}

.footer_cont li{
	list-style:none;
	text-align:left;
	display:block;
	margin-left:0;
	padding-left:0;
}

.footer_nav {
	clear:both;
}

.footer a{
	color: #666;
	text-decoration:none;
}

.footer a:hover{
	text-decoration:underline;
}