#gallery {
	width: 950px;
	margin: 0 auto;
}

.photos#images {
	position: relative;
	float: left;
	display: block;
	padding: 10px 10px 0 10px;
}
.photosets {
	clear: both;
	padding-top: 1px;
}
.photosets h2 {
	color: #000;
}

.sub_title{
	font-weight:bold;
}